@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Serif', serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    transition: 0.6s;
    font-family: 'IBM Plex Serif', serif;

    padding:40px 100px;
    z-index: 100000;
}
.stiky{
    background:#161616  !important; 
    padding:10px 100px;
    color:#ffffff;
}


header #ul-menu-desktop {
    position: relative;
    float: right;
    top: 30px;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    list-style: none;
}
header #ul-menu-desktop li a{
    position: relative;
    margin: 0 1vh;
    text-decoration: none !important;
    color: #ffffff;
    font-size:20px;
    letter-spacing:1px;
    font-weight: bold;
    transition:0.6s;
}
.stiky #ul-menu-desktop li a{
    position: relative;
    margin: 1vh 1vh;
    text-decoration: none;
    font-size:20px;
    letter-spacing:1px;
    font-weight: bold;

    transition:0.6s;
}
header #ul-menu-desktop li a:hover{
    color:#FFFFFF99;
}
.stiky #ul-menu-desktop li a:hover{
    color:#FFFFFF99;
}
header #menu-mobile{
    display: none;
}
/*Parallax*/
#parallax{
    background: url(../images/barbershop-4762345_1280\ \(1\).jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#opacity{
    background-color: #00000088;
    width: 100%;
    height: 100vh;
}
/*Boas Vindas*/
#boas-vindas{
    margin: 5vh 0;
}
#boas-vindas p{
    color: #f5f5f5;
    font-size: 1.3rem;
    margin-top: 2vh;
}
/* banner*/
#banner{
    background-image: url(../images/dwi-rina-xe4Q1AUB1ZA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:75vh;
}
#banner-opacity{
    background-color: #00000088;
    height:75vh;
}
#button-banner{
    padding-top: 20vh;
}
#banner-opacity a{
    padding: 30px;
    font-size:2rem;
    background-color: #00000099;
    color: #8b8b8b;
    margin-top:15vh;
    border-radius:50px;
    border: 1px solid #f1f1f1;
    cursor: pointer;
    text-decoration: none;
}
#banner-opacity a:hover{
    text-decoration:none;
    border-color:#FFF;
    color: #F5F5F5;
}
/*Equipe*/
#equipe{
    margin: 10vh 0;
}
#equipe h1{
    margin-bottom: 5vh;
    color: #f5f5f5;
}
#card-equipe{
    color: #f5f5f5;
    background-color: transparent;
    padding:20px;
    border: 1px solid #010101;
    box-shadow: 1px 1px 1px 1px #010101 ;
}#card-equipe:hover{
    box-shadow: none;
}
#card-equipe a{
    font-size:2rem;
    padding:0 2vh;
    color: #f5f5f5;
}
#card-equipe a:hover:first-child{
    color: #3b5998;
    background-color: white;
}
#card-equipe a:hover:nth-child(2){
    color: #f1f1f1;
    background-color: #77dd77;
}
#card-equipe a:hover:nth-child(3){
    color: #f1f1f1;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
/*Banner 2*/
#banner2{
    background-image: url(../images/mostafa-meraji-5npGPG0sSVk-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:75vh;
}
#opacity-banner2{
    background-color: #00000088;
    height:75vh;
}
/*Serviços*/
#servicos{
    margin: 10vh 0;
}
#servicos h1{
    margin-bottom: 5vh;
    color: #f5f5f5;
}
#servicos #card-servicos{
    background: transparent;
    border: 2px solid #000;
    padding:20px;
    color: #f5f5f5;
}
#servicos .card-text{
    font-size: 1.5rem;
}

#servicos .card-title{
    transition:1s;
    font-size: 1rem;

}

/*Agendamento*/
#banner-form{
    background: url(../images/carlos-magno-s63RoVQ40w8-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-form-opacity{
    width: 100%;
    padding: 50px;
    background: rgba(0,0,0,.8);
}
form {
    background: rgba(0,0,0,0.9);
    width: 100%;
    max-width: 600px;
    margin: auto auto;
    padding: 32px 64px;
    outline: 0;
    display: flex;
    flex-direction: column;
    color: #f5f5f5;
}
label,input,select{
    width: 100%;
    margin: 1vh;
    padding: 10px;
    border: none;

}
label:focus,input:focus,select:focus{
    box-shadow: 0 0 0 0;
    border: none;
    outline: 0;
}
input:last-child{
    margin-top: 4vh;
    background-color: #161616;
    border: none;
    color: #f5f5f5;
    cursor:pointer;
}
#redes-socias a{
    color: #f5f5f5;
    font-size:2rem;
    margin: 0 2vh 5vh 2vh;
    padding: 5px 10px;
}
#redes-socias a:hover:first-child{
    color: #3b5998;
    background-color: white;
}
#redes-socias a:hover:nth-child(2){
    color: #f1f1f1;
    background-color: #77dd77;
}
#redes-socias a:hover:nth-child(3){
    color: #f1f1f1;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
/*media*/

@media screen and (max-width: 1024px) {
    header #ul-menu-desktop {
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 767px) {
    #parallax{
        background: url(../images/barbershop-4762345_640.jpg);
        width: 100%;
        height: 100vh;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    header #menu-desktop {
      display: none;
    }
    header #menu-mobile {
        display: block;
        color: #F1f1f1;
    }
    header #menu-mobile i{        
        font-size:2rem;
        right:10vw;
        top: 5vh;
        position: absolute;
        cursor: pointer;}
    #ul-menu-mobile{
        position: absolute;
        font-size: 1.5rem;
        top: 0;
        right: -200vh;
        width: 90vw;
        height:100vh;
        background-color: #161616;
        text-align: center;
        align-items: center;
        transition: 1s ease-in-out;   
    }
    #ul-menu-mobile i{
        font-size:2rem;
        right:10vw;
        top: 5vh;
        position: absolute;
        cursor: pointer;
    }
    #ul-menu-mobile img{
        margin-top:10vh;
    }
    #ul-menu-mobile li{
        margin: 5vh;
    }
    #ul-menu-mobile li a{
        color:#F1F1F1;
        text-decoration: none;
    }
    .stiky{
        background:transparent !important; 
    }
    .banner-form-opacity{
        width: 100%;
        padding: 0 10px 50px 10px;
        background:transparent !important;
    }
    #footer{
        text-align: center;
    }
    .card{
        margin:5vh 0;
    }
    #banner2{
        background-image: url(../images/mostafa-meraji-5npGPG0sSVk-unsplash2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #opacity-banner2,#banner2,#banner,#banner-opacity{
        height:100vh;
    }
    #banner-form h1{
        padding:10vh 0 5vh 0;
    }
    #banner-form-opacity{
        padding:10px 10px;
    }
    form{
        padding:40px;
    }
}